.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    background: linear-gradient(aquamarine, rgb(164, 104, 189));
}

.footerlinks{
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#findus{
    font-weight: bolder;
    display: flex;
    margin: 0 auto;
    margin: bottom 20px;
    padding: 0 auto;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin: bottom 20px;
    padding: 0 auto;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.loading {
    position: fixed;
  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.4);
    
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    z-index: 289;
  }
  
  .loading .message {
    min-width: 350px;
    padding: 3rem;
  
    box-shadow: 0 2px 8px black;
    background: rgb(0, 0, 0);
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }