.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aquamarine;
}

.footerlinks{
    font-weight: bolder;
    display: flex;
    margin: 0 auto;
    margin: bottom 20px;
    padding: 0 auto;
    justify-content: center;
}

#findus{
    font-weight: bolder;
    display: flex;
    margin: 0 auto;
    margin: bottom 20px;
    padding: 0 auto;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin: bottom 20px;
    padding: 0 auto;
    justify-content: center;
    height: 50px;
    width: 50px;
}